*{
font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

}

p{
	margin:0;
}


body{
	background: radial-gradient(at top, #4682B4,#FEFFFF);
}

.container{
	max-width: 1000px;
	margin:0 auto;
	padding: 50px;
	border: 1px solid #000;
	border-top: none;
	border-bottom: none;
	text-align: center;
}


h1{
	font-size: 38px;
	background: linear-gradient(90deg, #cfecd0, #ffc5ca);
	width: 30%;
	margin:0 auto 60px;
	box-shadow: inset 3px 3px 10px rgba(154, 147, 140, 0.5), 1px 1px 5px rgba(255, 255, 255, 1);
	padding:10px 0 10px;
}

h1 span{
	font-size:20px;
	color:#1E90FF;
}


.content {
min-height: 700px;
}
.input {
height: 35px;
width: 35%;
font-size: 20px;
}

.button,.button-clear {
cursor: pointer;
width:100px;
padding: 10px;
margin-left: 20px;
border: none;
border-radius: 5px;
box-shadow: 0 14px 28px rgba(0,0,0,0.15), 0 10px 10px rgba(0,0,0,0.15);
background-color: snow;
font-size: 17px;
outline: none;
}

.button{
	background-color:#98FB98;
	position: relative;
}

.button-clear{
	background-color: #FFA07A;
}



.button:hover{
	background-color: greenyellow;
}

.button-clear:hover{
	background-color: #F08080;
}

ol {
margin: 60px auto 0px;
}

li {
	position: relative;
	background-color:#F5F5F5;
	text-align: left;
	font-size: 30px;
	box-shadow: 0 14px 28px rgba(0,0,0,0.15), 0 10px 10px rgba(0,0,0,0.15);
	padding:5px;
	list-style-position: inside;
	width: 75%;
	margin: 0 auto 35px;
	font-style: italic;
	border-radius: 10px;
}

li:nth-child(even){
	transform: rotate(-0.5deg);
}

li:nth-child(odd){
	transform: rotate(0.5deg);
}


.dellist{
	position: absolute;
	top:-1px;
	right: 20px;
	cursor: pointer;
	font-size: 30px;
	opacity: 0;
}
.list li:hover .dellist{
	opacity: 1;
	color: tomato;
	transition:opacity 1.9s;
}


.donelist{
	position: absolute;
	top:-1px;
	right: 70px;
	cursor: pointer;
	font-size: 30px;
	opacity: 0;
}

.list li:hover .donelist{
	opacity: 1;
	color: green;
	transition:opacity .5s;
}


/* Анимация кнопки */


.jump{
	animation: jump 1.2s infinite;
}

@keyframes jump {
	0%{
		bottom:0;
	}
	50%{
		bottom:8px;
	}
	100%{
		bottom:0;
	}
}